
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
*{
    margin-top: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
}
.columnaPrincipal{
    width: 100%;
    max-width: 1100px;
}
.letraColor{
    color: #F03667;
}
.cajaColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #2e2e31;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#FFFF;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
}
header nav ul{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem; 
}
header nav ul a{
    margin-left: 1.2rem;
    padding: 0.04rem 0.7rem;
    line-height: 2.5;  
}
header nav ul a:hover{
    color: #F03667;
}
header nav ul a:active{
    border: 1px;
    border-radius: 100px;
    box-shadow:0 0 8px #F03667;
}
.botonContacto{
    background-color: #F03667;
    color: #FFFF;
    padding: 0 1.875rem;
    border-radius: 100px;
}
.botonContacto:hover{
    opacity: 0.8;
    color: #FFFF;
}
#seccionHola{
    display: flex;
    justify-content: center;
    margin-top: 4.5rem;
    padding-top: 9.7rem;
    padding-bottom: 8.2rem;  
}
.presentacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sobreMi{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.hola{
    font-size: 1.875rem;
    margin-bottom: 0.3rem;
    font-weight: 800;
}
.miNombre{
    font-size: 3.75rem;
    font-weight: 900;
    margin-bottom: 0.3rem;
}
.miDescripcion{
    color: #616161;
    font-size: 1.2rem;
    margin-top: 1.1rem;
    margin-bottom: 2.5rem;
}
.sobreMiImg{
    width: 45%;
}
.button{
    background-color: #F03667;
    color: #FFFF;
    padding: 0.94rem 2.5rem;
    border-radius: 100px;
    font-weight: 500;
}
#seccionConocimientos{
    display: flex;
    justify-content: center;
    padding-top: 9.5rem;
    padding-bottom: 8.2rem;
    background-color: #F2F2F2;
}
.titulo{
    font-size: 2.8rem;
    font-weight: 900;
    text-align: center;
    padding: 0 1rem;
}
.descripcion{
    width: 25rem;
    text-align: center;
    margin-bottom: 2.5rem;
    padding: 0 1rem;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.cardConocimientos{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2e2e31;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 260px;
    margin-top: 1.3rem; 
    margin-right: 0.5rem;
    margin-left: 0.5rem;  
}

.cardConocimientos:hover{
    border: 1px solid #F03667;
}
.cardConocimientos i{
    font-size: 4.7rem;
    padding-top: 3.3rem;
    padding-bottom: 1.3rem;
    
}
.cardConocimientos h3{
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 2.1rem;
}

#seccionFrase{
    display: flex;
    justify-content: center;
    padding-top: 6.5rem;
    padding-bottom: 8.2rem;
    background-color: #F03667;
}
.fraseIcono{
    color: white;
    margin-bottom: 20px;
    font-size: 5.5rem;
}
.frase{
    color: white;
    font-size: 1.2rem;
    width: 75%;
    line-height: 1.4;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}
.autorFrase{
    color: white;
    font-size: 1.7rem;
    font-weight: 900;
}
#seccionProyectos{
    display: flex;
    justify-content: center;
    padding-top: 9.5rem;
    padding-bottom: 8.2rem;
}
.cardsProyectos{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.itemProyecto{
    width: 32%;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.3rem;
}
.proyecto1{
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 6.4rem;
}
.proyecto2{
    width: 70%;
    padding-bottom: 6rem;
}
.proyecto3{
    width: 60%;
    padding-bottom: 4rem;
}
.proyecto4{
    width: 60%;
    padding-bottom: 5.2rem;
}
.proyecto5{
    width: 70%;
    padding-bottom: 4.5rem;
}
.proyecto6{
    width: 70%;
    padding-top: 0.8rem;
    padding-bottom: 4.4rem;
}
.proyecto7{
    width: 70%;
    padding-bottom: 3rem;
}
.itemProyecto h3{
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 2rem;
    text-align: center;
}
.itemProyecto:hover{
    border: 1px solid #F03667;
}
.itemProyecto:active{
    box-shadow:0 0 8px #F03667;
}
#seccionContacto{
    display: flex;
    justify-content: center;
    padding-top: 12.5rem;
    padding-bottom: 8.2rem;
    background-color: #F2F2F2;
}
.contacto{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 5rem 3.75rem;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    text-align: left;
}
.tituloContacto{
    font-size: 2.8rem;
    font-weight: 900;
    text-align: left;
}
.columnaContactame{
    width: 50%;
}
.columnaContactame p{
    width: 80%;
}
.redes{
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-content: space-between;
    margin-top: 2.5rem;
    list-style: none;
    padding: 0; 
}
.redSocialItem{
    margin-left: 0.8rem;
    margin-bottom: 0.8rem;
}
.redSocialItem a:hover{
    color: #F03667;
}
.redSocialLink{
    display: flex;
    align-items: center;
}
.iconoRed{
    color: #F03667;
    margin-right: 0.8rem;
    font-size: 1.3rem;
    padding: 0.5rem;
}
.redSocialItem:hover .iconoRed{
    background-color: #F03667;
    border-radius:50%;
    color: #FFFF;
}
.columnaEscribime{
    width: 50%;
    padding-left: 1.3rem;
}
form{
    margin-top: -1rem;
}
label{
    margin-bottom: 0.7rem;
    margin-top: 0.8rem;
    font-weight: 600;
    display: block;
}
input, textarea{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-radius: 20px;
    background-color: #f1f1f1;
    border: 1px solid #f6f7fb;
    padding: 0.7rem 1rem;
    width: 100%;
    outline:none;

}
input:focus{
    border: 1px #F03667;
    box-shadow:0 0 8px #F03667;  
}
textarea:focus{
    border: 1px #F03667;
    box-shadow:0 0 8px #F03667;
}

.formNombreApellido{
    display: flex;
}
.formNombre{
    margin-right: 1.5rem;
}
button{
    border: 0;
    outline: none;
    margin-top: 1rem;
}
button:hover{
    opacity: 0.8;
    cursor: pointer;
}
button:active{
    box-shadow:0 0 8px #F03667;
    opacity: 1;
}
footer{
    background-color: #F03667;
    padding-top: 4.5rem;
    padding-right: 3.5rem;
}
footer nav ul a{
    color: white;
    font-size: 0.9rem;
    margin-left: 0.8rem;
}
footer nav ul a:active{
    font-size: 1rem;
    font-weight: 700;
}
.redesSocialesFooter{
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.iconoRedFooter{
    font-size: 1.2rem;
    border-radius:50%;
    padding: 0.8rem;
    background-color: white;
    color: #F03667;
    border: 1px solid #F03667;
    margin-left: 0.8rem;
}
.iconoRedFooter:hover{
    background-color: #F03667;
    color: white;
    border: 1px solid white;
}
.iconoRedFooter:active{
    box-shadow: 0 0 8px white;
}
footer p{
    color: white;
    margin-bottom: 4rem;
    margin-left: 3.8rem;
    text-align: center;
}
@media screen and (max-width: 1100px){
    header{
        display: none;
    }
    #seccionHola{
        padding-bottom: 10.2rem;
        margin-top: 3.2rem;
    }
    .presentacion{
        flex-direction: column;
    }
    .sobreMi{
        align-items: center;
        text-align: center;
        margin-bottom: 4rem;
    }
    .sobreMiImg{
        width: 470px;
    }
    .cardsProyectos{
        width: 90%;
    }
    .contacto{
        width: 92%;
    }
}
@media screen and (max-width: 900px){
    .itemProyecto{
        width: 48%;
    }
    .columnaContactame{
        width: 100%;
    }
    .columnaContactame p{
        width: 370px;
    }
    #seccionContacto{
        padding: 0;
    }
    .contacto{
        border: none;
        width: 100%;
        flex-direction: column;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-left: 2.5rem;
    }
    .redes{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    .redSocialItem{
        width: 45%;
    }
    .columnaEscribime{
        width: 100%;
        margin-top: 2rem;
        padding-left: 0rem;
    }
    .formNombre{
        width: 50%;
    }
    .formApellido{
        width: 50%;
    }
    button{
        margin-bottom: 6rem;
    }
}
@media screen and (max-width: 576px){
    #seccionHola{
        margin-top: 1.5rem;
    }
    .miNombre{
        font-size: 3rem;
        padding: 0 1rem;
    }
    .miDescripcion{
        padding: 0 1rem;
    }
    .sobreMiImg{
        width: 85%;
    }
    .titulo{
        font-size: 2.2rem;
    }
    .descripcion{
        width: 80%;
    }
    .cards{
        width: 95%;
    }
    .cardConocimientos{
        width: 45%;
    }
    .cardConocimientos i{
        font-size: 3.7rem;
        padding-top: 2.7rem;
        padding-bottom: 1.3rem; 
    }
    .cardConocimientos h3{
        font-size: 1rem;
        font-weight: 700;
        padding-bottom: 1.5rem;
    }
    .cardsProyectos{
        flex-direction: column;
        align-items: center;
    }
    .itemProyecto{
        width: 95%;
    }
    #seccionFrase{
        padding-top: 5.5rem;
        padding-bottom: 3rem;
    }
    .fraseIcono{
        margin-bottom: 1rem;
        font-size: 5rem;
    }
    .frase{
        font-size: 1rem;
        width: 75%;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    .contacto{
        flex-direction: column;
        padding-left: 1.5rem;
    }
    .columnaContactame p{
        width: 90%;
    }
    .redes{
        flex-direction: column;
    }
    .formNombreApellido{
        flex-direction: column;
    }
    .formNombre{
        width: 100%;
    }
    .formApellido{
        width: 100%;
    }
    button{
        margin-bottom: 1rem;
    }
    footer{
        padding-top: 3rem;
    }
    footer nav{
        display: none;
    }
}
@media screen and (max-width: 360px){
    .cardConocimientos{
        width: 70%;
    }
    
}





