@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin-top: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.columnaPrincipal{
    width: 100%;
    max-width: 1100px;
}
section{
    display: flex;
    justify-content: center;
    padding: 110px 40px 130px;
}
.letraBlanca{
    color: white;
}
.letraColor{
    color: #F03667;
}
.cajaColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cajaFila{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 90px;
    background-color:#FFFF;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
}
nav{
    margin-top: 30px;
    margin-right: 130px;
    
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 40px;
    list-style: none;
    
    
}
li{
    margin-right: 30px;

}
a{
    text-decoration: none;
    color: #2e2e31
}
.sobreMi{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.hola{
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 800;
}
.miNombre{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 5px;
}
.miDescripcion{
    color: #616161;
    font-size: 16px;
    margin-bottom: 40px;
}
.sobreMiImg{
    width: 500px;
}
.button{
    background-color: #F03667;
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
}
.seccionConocimientos{
    background-color: #f6f7fb;
}
.titulo{
    font-size: 45px;
    font-weight: 900;
}
.cards{
    flex-wrap: wrap;
    width: 820px;
}
.itemConocimientos{
    color: #2e2e31;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 260px;
    height: 215px;
    margin-top: 20px;
    
}
.seccionFrase{
    background-color: #F03667;
}
.fraseIcono{
    color: white;
    margin-bottom: 20px;
    font-size: 80px;
}
.frase{
    max-width: 800px;
    line-height: 1.4;
    text-align: center;
}
.autorFrase{
    font-size: 27px;
    font-weight: 900;
}
.cardsProyectos{
    flex-wrap: wrap;
    width: 1070px;
}
.itemProyecto{
    width: 340px;
    height: 350px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-top: 20px;

}
.seccionContacto{
    background-color: #f6f7fb;
}
.contacto{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 80px 60px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    text-align: left;
}
.columnaContactame{
    width: 50%;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-content: space-between;
    margin-top: 40px;
    height: 180px;
    list-style: none;
    padding: 0px;
}
.redSocialItem{
    margin: 5px 0;
}
.redSocialLink{
    padding: 5px 10px;
    
}
.iconoRed{
    color: #F03667;
    margin-right: 10px;
    font-size: 20px;

}
.columnaEscribime{
    width: 50%;
    padding-left: 20px;
}
label{
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: 600;
    display: block;
}
input, textarea{
    font-size: 16px;
    border-radius: 20px;
    background-color: #f6f7fb;
    border: 1px solid #f6f7fb;
    padding: 10px 15px;
    width: 100%;

}
.formNombreApellido{
    display: flex;
    margin-bottom: 15px;
}
.formNombre{
    margin-right: 10px;
}



